/* Globales */
:root {
    --color-negro: #161616;
    --color-blanco: #fafafa;
    --color-naranja: #ff4500;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Componentes */
.serif {
    font-family: 'Bodoni Moda', serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.separador {
    display: block;
    width: 75px;
    border-top: 3px solid #78d3f1;
    margin: 2rem auto;
}

.separador--white {
    border-color: var(--color-blanco);
}

.button {
    display: inline-block;
    background-color: #ff4500;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: .75rem 1rem;
    color: var(--color-blanco);
    border-radius: 5rem;
    margin-top: 2rem;
    transition: 0.2s all;
}

.button:hover {
    background-color: var(--color-negro);
}

.button--white {
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

.button--white:hover {
    color: var(--color-blanco);
}

/* Hero */
.hero {
    padding: 5rem 0;
    text-align: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: 0 40%;
}

.hero__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #78d3f1;
}

.hero__text {
    color: var(--color-negro);
    font-size: 1.1rem;
    margin: 0;
    color: var(--color-blanco);
}

/* Info */
.info {
    padding: 5rem 0;
    text-align: center;
    background-color: #435f69;
    color: var(--color-blanco);
}

.info__title {
    font-size: 2rem;
}

.info__text {
    font-size: 1.1rem;
    margin: 0;
}